extends layout 

block content
  h2= title

  p Enter the secret admin passcode in order to become an admin.

  form(method="post") 
    label(for="passcode") #[strong Passcode: ] 
    input#passcode(type="password" name='passcode' required)
    button(type='submit') Submit

  if errors 
    ul.errors
      for error in errors 
        li.error!= error.msg