doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.block-sidebar
      h1 Health Club
      a(href="/") Home 
      block sidebar
    div.block-content
      block content
