doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.block-sidebar
      h1 Health Club
      a(href="/") Home

      if !currentUser
        a(href="/users/sign-up") Sign up 
        a(href="/users/login") Login

      if currentUser && !currentUser.member
        a(href="/users/join-the-club") Join the Club
      
      if currentUser && currentUser.member && !currentUser.admin
        a(href="/users/become-admin") Become an Admin 

      if currentUser
        a(href="/messages/new-message") Create New Message 
        a(href="/users/log-out") Log out 

    div.block-content
      block content
