doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      a.header-link(href="/")
        h1 Tech Talk
        img(src="./pictures/laptop.svg")
    div.main
      div.sidebar
        if currentUser 
          p Hello #{currentUser.full_name}!
        nav
          a.link(href="/") Home

          if !currentUser
            a.link(href="/users/sign-up") Sign up 
            a.link(href="/users/login") Login

          if currentUser 
            a.link(href="/messages/new-message") New Message         

          if currentUser && !currentUser.member
            a.link(href="/users/join-the-club") Join the Club
        
          if currentUser && currentUser.member && !currentUser.admin
            a.link(href="/users/become-admin") Become an Admin 

          if currentUser
            a.link(href="/users/log-out") Log out
      div.content
        block content
