extends layout

block content 
  h2= title

  form(method="post") 
    div.form-group
      label(for="first_name") #[strong First Name: ]
      input#first_name(type="text" name='first_name' required placeholder='John' value=(undefined===user ? '' : user.first_name))
    div.form-group
      label(for="last_name") #[strong Last Name: ] 
      input#last_name(type="text" name='last_name' required placeholder='Doe' value=(undefined===user ? '' : user.last_name))
    div.form-group
      label(for="username") #[strong Username: ] 
      input#username(type="email" name='username' required placeholder='johndoe@someemail.com' value=(undefined===user ? '' : user.username))
    div.form-group
      label(for="password") #[strong Password: ] 
      input#password(type="password" name='password' required)
    div.form-group
      label(for="password_confirm") #[strong Confirm Password: ] 
      input#password_confirm(type="password" name='password_confirm' required)
    button(type='submit') Sign Up!

  if errors 
    ul.errors
      for error in errors 
        li!= error.msg