* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 166, 0);
  padding: 16px 0;
}

h1 {
  font-size: 2.25rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  background-color: lightblue;
  width: 100vw;
  padding: 8px 8px;
  font-size: 1.2rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 1vw;
  font-size: 1.2rem;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: black;
  border: 1px solid gray;
  background-color: rgb(250, 250, 250);
  width: max-content;
  padding: 8px;
  border-radius: 8px;
  transition: box-shadow 0.2s;
  box-shadow: none;
}

.link:hover {
  transition: box-shadow 0.2s;
  box-shadow: 3px 3px 1px 1px red;
}

.link:active {
  color: blue;
}

.header-link {
  display: flex;
  align-items: center;
  gap: 2vw;
  color: #000;
  text-decoration: none;
}

.header-link img {
  height: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  min-height: 93vh;
  width: 75vw;
  min-width: calc(100vw - 300px);
  padding: 32px;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 65vw;
  max-width: 1000px;
  padding: 32px;
  font-size: 1.1rem;
  border-radius: 8px;
  border: 1px solid #000;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  min-width: max-content;
  margin-top: 3vh;
  padding: 3vw;
  font-size: 1.1rem;
  border: 1px solid #000;
  border-radius: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

input,
textarea {
  padding: 4px;
  width: 300px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  min-height: 40vh;
}

button[type='submit'] {
  align-self: center;
  font-size: 1rem;
  border: 1px solid gray;
  background-color: rgb(243, 243, 243);
  padding: 8px;
  border-radius: 8px;
  transition: box-shadow 0.3s, background-color 0.2s;
  box-shadow: none;
}

button[type='submit']:hover {
  background-color: rgb(233, 233, 233);
  transition: box-shadow 0.3s, background-color 0.2s;
  box-shadow: 2px 2px 1px 1px blue;
}

button[type='submit']:active {
  transition: background-color 0s;
  background-color: rgb(250, 250, 250);
}

.delete-form {
  border: none;
}

.delete-btn,
button.delete-btn {
  align-self: center;
  transition: box-shadow 0.2s, background-color 0.2s, color 0.2s;
  box-shadow: none;
}

.delete-btn:hover,
button.delete-btn:hover {
  transition: box-shadow 0.2s, background-color 0.2s, color 0.2s;
  box-shadow: 2px 2px 1px 1px red;
}

button.delete-btn:hover {
  background-color: rgb(252, 235, 235);
  color: red;
}

button.delete-btn:active {
  transition: background-color 0s;
  background-color: white;
}

.errors {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  list-style: none;
}

.error {
  color: red;
  font-size: 1.1rem;
}

pre {
  max-width: 60vw;
  overflow-x: scroll;
}

@media (min-width: 600px) {
  .main {
    flex-direction: row;
    align-items: flex-start;
    background-color: lightblue;
  }

  .sidebar {
    gap: 4vh;
    width: 25vw;
    min-width: max-content;
    max-width: 300px;
    padding-top: 32px;
  }

  nav {
    flex-direction: column;
    gap: 3vh;
  }

  .content {
    background-color: white;
  }
}
